%h1 All Faculty Members

%table
  %thead
    %th First Name
    %th Last Name
    %th Topic Area
  %tbody
    - @faculties_and_research_area.each do |faculty|
      %tr
        %td= faculty[:first_name]
        %td= faculty[:last_name]
        %td= faculty[:research_area]

%p Search for faculties members in a certain topic area

= form_tag faculties_search_path do
  %input{:name => "search_research_area", :id => "search_research_area"}
  =submit_tag "Search Research Area", id: "search_research_area_button"
