%table
  %tr
    %td
      %h1 Frequently Asked Questions
    %td
      %span(class="homeLinkSpanClass")
        =link_to "Homepage", "/home"
%h2 Can I receive financial support?
%a All applicants are considered for financial support and Graduate Assistantships include: Teaching Assistants(TA); Research Assistants (RA) and Graders. No additional form is necessary.
%h2 When is the application deadline?
%a The application is due on January 15
%h2 What do I need to have for my application?
%a You may need Letters of Recommendation, a Statement of Purpose, GRE Scores, Transcripts, as well as TOEFL if English is not your first language.
%h2 What TOEFL score do I need?
%a You need a TOEFL score of at least 105 if you are seeking financial support, or a TOEFL score of at least 85 if you are not.
