%h1.title Faculty Members Needing Account Approval
%table
  %thead
    %th First Name
    %th Last Name
    %th Topic Area
  %tbody
    - @approval_needed_accounts.each do |faculty|
      %tr
        =form_tag approve_faculty_path(faculty[:id]), method: :put do
          %td= faculty.account[:first_name]
          %td= faculty.account[:last_name]
          %td= faculty[:topic_area]
          %td= submit_tag "Approve", id: "approve_account_button"

